@import url('./reset.css');
@import url('./fontZip.css');

* {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Text", sans-serif;
}

body, html {
    font-family: "SF Pro Text", sans-serif;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
display: none; /* Chrome, Safari, Opera*/
}