@import url('./common.css');

/* || A child of a body */
#container {
    width: 100%;
    height: 100%;
    background: #fff;
}

#content {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}

/* || background img */
.bg_icons {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: -1;
    /* overflow: hidden; */
}

.bg_icons li {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg_icons li:nth-child(1) {
    width: 777.18px;
    height: 595.36px;
    left: 465px;
    top: -240px;
}

.bg_icons li:nth-child(2) {
    width: 1052.5px;
    height: 764.96px;
    left: 70.3645%;
    top: 82px;
}

.bg_icons li:nth-child(3) {
    width: 482.15px;
    height: 507.24px;
    left: -300.96px;
    top: 593.49px;
    transform: rotate(-61.38deg);
}

.bg_icons li:nth-child(4) {
    width: 550.43px;
    height: 442.33px;
    left: 735.94px;
    top: 705.2px;
    transform: rotate(-41.91deg);
}

/* || header */
header {
    width: 100%;
    height: 58px;
    position: fixed;
    top: 0;
}

header h1 {
    font-size: 3.5rem;
    letter-spacing: 0.66em;
    text-align: center;
    font-weight: 100;
    padding-top: 16px;
    height: auto;
    box-sizing: border-box;
}

/* || main */
main {
    width: calc(100% - 40px);
    height: calc(100% - 112px);
    margin: 0 auto;
    position: relative;
    top: 58px;
    box-sizing: border-box;
}

/* clock */
.js-clock {
    font-size: 10.5rem;
    font-weight: 900;
    padding: 199px 0px 35px;
    box-sizing: border-box;
}

/* weather */
.js-weather {
    display: block;
    font-size: 4rem;
    font-weight: 200;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
    font-size: 4rem;
    font-weight: 200;
}

.form input {
    font-size: 4rem;
    border: none;
    border-bottom: 1px solid #333;
    padding: 12px 0px;
    color: #333;
    font-weight: 100;
    display: block;
    width: 590px;
    box-sizing: border-box;
    background-color: transparent;
}

.form input::-webkit-input-placeholder {
    color: #333;
    letter-spacing: -0em;
}

.form input::-moz-placeholder {
    color: #333;

}

.form input::-ms-placeholder {
    color: #333;
}

.js-toDoForm {
    width: 607px;
    border-bottom: 1px solid #333333;
}

.js-toDoForm input {
    background-color: transparent;
    border: none;
    font-size: 2.4rem;
    color: #333;
    width: calc(100% - 21px);
    padding: 35px 0px 17px;
    display: inline-block;
}

.js-toDoForm input::placeholder {
    color: #333;
}

.x_btn {
    display: inline-block;
    background: url(../img/btn_x.svg);
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    margin-bottom: 17px;
    cursor: pointer;
}

.privacy_info {
    display: block;
    font-size: 1.8rem;
    letter-spacing: -0.09em;
    color: #858585;
    padding-top: 17px;
}

/* || toDoList */
.js-toDoList {
    padding-top: 20px;
    width: 50%;
    box-sizing: border-box;
}

.js-toDoList li span {
    font-size: 2.2rem;
    padding-right: 13px;
}

.del_btn {
    border: none;
    background: url(../img/icon_recycleBin.svg);
    width: 18px;
    height: 24.6px;
    cursor: pointer;
    vertical-align: sub;
}

/* || footer */
footer {
    width: 100%;
    height: 54px;
    padding-bottom: 22px;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

footer address {
    font-size: 2.7rem;
    letter-spacing: 0.64em;
    font-weight: 100;
    display: block;
    width: 200%;
    position: absolute;
    white-space: nowrap;
    word-break: break-all;
    animation: marquee 20s linear infinite;
}

footer address:hover {
    animation-play-state: paused;
}

address ul {
    display: inline-block;
}

address ul li {
    height: 100%;
    display: inline-block;
    transition: all .2s ease-out;
    /* width: 500px; */
}

address ul li::after {
    content: ' |';
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}