@import url('./reset.css');

/* || A child of a body */
#container {
    width: 100%;
    height: 100%;
    background: #fff;
}

#content {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}

/* || background img */
.bg_icons {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100%;
    z-index: -1;
    /* overflow: hidden; */
}

.bg_icons li {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg_icons img {
    max-width: 100%;
    height: auto;
}

.bg_icons li:nth-child(1) {
    width: 777.18px;
    height: 595.36px;
    left: 39px;
    top: -337px;
}

.bg_icons li:nth-child(2) {
    width: 1052.5px;
    height: 764.96px;
    left: 65.894%;
    top: 85px;
}

.bg_icons li:nth-child(3) {
    width: 482.15px;
    height: 507.24px;
    left: -228.96px;
    top: 593.49px;
    transform: rotate(-61.38deg);
}

.bg_icons li:nth-child(4) {
    width: 550.43px;
    height: 442.33px;
    left: 735.94px;
    top: 705.2px;
    transform: rotate(-41.91deg);
}

/* || header */
header {
    width: 100%;
    height: 58px;
    position: fixed;
    top: 0;
}

header h1 {
    font-size: 3.5rem;
    letter-spacing: 0.66em;
    text-align: center;
    font-weight: 100;
    padding-top: 16px;
    height: auto;
    box-sizing: border-box;
}

/* || main */
main {
    max-width: 100%;
    height: calc(100% - 112px);
    margin: 0 auto;
    position: relative;
    top: 58px;
    box-sizing: border-box;
    text-align: center;
    overflow-y: hidden;
}

/* clock */
.js-clock {
    font-size: 10.5rem;
    font-weight: 900;
    padding: 9.0492vh 0px 35px;
    box-sizing: border-box;
}

/* weather */
.js-weather {
    display: block;
    font-size: 4rem;
    font-weight: 200;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
    font-size: 4rem;
    font-weight: 200;
}

.form input {
    font-size: 4rem;
    border: none;
    padding: 12px 0px;
    color: #333;
    font-weight: 100;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    margin: 0 auto;
    text-align: center;
}

.form input::-webkit-input-placeholder {
    color: #333;
    letter-spacing: -0em;
}

.form input::-moz-placeholder {
    color: #333;

}

.form input::-ms-placeholder {
    color: #333;
}

.form,
.js-toDoForm {
    width: 55.667%;
    border-bottom: 1px solid #333333;
    margin: 0 auto;
}

.js-toDoForm input {
    background-color: transparent;
    border: none;
    font-size: 2.4rem;
    color: #333;
    width: calc(100% - 21px);
    padding: 35px 0px 17px;
    display: inline-block;
}

.js-toDoForm input::placeholder {
    color: #333;
}

.x_btn {
    display: inline-block;
    background: url(../img/btn_x.svg);
    width: 18px;
    height: 18px;
    vertical-align: bottom;
    margin-bottom: 17px;
    cursor: pointer;
}

.privacy_info {
    display: block;
    font-size: 1.8rem;
    letter-spacing: -0.09em;
    color: #858585;
    padding-top: 17px;
}

/* || toDoList */
.js-toDoList {
    box-sizing: border-box;
    width: 55.667%;
    height: calc(38% - 38px);
    text-align: left;
    margin: 35px auto 0;
    overflow-y: scroll;
}

.js-toDoList li {
    margin-bottom: 20px;
}

.js-toDoList li span {
    font-size: 2.2rem;
    margin-right: 13px;
    width: calc(100% - 36px);
    display: inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.del_btn {
    border: none;
    background: url(../img/icon_recycleBin_close.svg) no-repeat center center / contain;
    width: 23px;
    height: 31.43px;
    cursor: pointer;
    vertical-align: top;
}

/* || darkMode controller btn(fixed) */
.darkMode_btn, .recycleBin_btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.17);
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    bottom: 77px;
}

.darkMode_btn {
    left: 25px;
    background-color: #000;
    transition: all .4s;
}

.darkMode_btn > i {
    background: url(../img/icon_darkMode.svg) no-repeat center center / contain;
    display: block;
    width: 28px;
    height: 41px;
}

/* || recycleBin controller btn(fixed) */
.recycleBin_btn {
    right: 25px;
    background-color: #fff;
}

.recycleBin_btn > i {
    display: block;
    width: 23px;
    height: 31.43px;
    background: url(../img/icon_recycleBin_close.svg) no-repeat center center / contain;
}

/* || footer */
footer {
    width: 100%;
    height: 54px;
    padding-bottom: 22px;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

footer address {
    font-size: 2.7rem;
    letter-spacing: 0.64em;
    font-weight: 100;
    display: block;
    width: 200%;
    position: absolute;
    white-space: nowrap;
    word-break: break-all;
    animation: marquee 20s linear infinite;
}

footer address:hover {
    animation-play-state: paused;
}

address ul {
    display: inline-block;
}

address ul li {
    height: 100%;
    display: inline-block;
    transition: all .2s ease-out;
    /* width: 500px; */
}

address ul li::after {
    content: ' |';
}

/* || dark mode */
body.dark .darkMode_btn {
    background-color: #fff;
}

body.dark #container {
    background-color: #000;
}

body.dark main,
body.dark header,
body.dark footer,
body.dark .form input::placeholder,
body.dark .form input,
body.dark .privacy_info,
body.dark .js-toDoForm input::placeholder,
body.dark .js-toDoForm input {
    color: #fff;
}

body.dark .form,
body.dark .js-toDoForm {
    border-bottom: 1px solid #fff;
}

body.dark .x_btn {
    background: url(../img/darkBtn_x.svg) no-repeat center center / contain;
}

body.dark .del_btn {
    background: url(../img/darkIcon_recycleBin_close.svg) no-repeat center center / contain;
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}


/* || media query */
/* width */
@media (max-width: 1199px) {
    main {
        top: 0px;
        height: calc(100% - 53px);
    }
}

@media (max-width: 1024px) {
    header {
        display: none;
    }

    .js-clock {
        font-size: 9rem;
    }

    .form input,
    .showing,
    .js-weather {
        font-size: 3rem;
    }

    .bg_icons li {
        height: auto !important;
    }

    .bg_icons li:nth-child(1) {
        width: 75.8965%;
        /* height: 58.1406%; */
        top: -23.4028vw;
    }

    .bg_icons li:nth-child(2) {
        width: 102.7832%;
        /* height: 67.7031%; */
    }

    .bg_icons li:nth-child(3) {
        width: 47.0850%;
        /* height: 49.5352%;     */
        left: -15.9000vw;
    }

    .bg_icons li:nth-child(4) {
        width: 53.7529%;
        /* height: 43.1963%; */
        left: 71.8691vw;
    }
}

@media (max-width: 767px) {
    .js-clock {
        font-size: 7.2rem;
    }
    
    .form input,
    .showing,
    .js-weather {
        font-size: 2.2rem;
    }

    .form,
    .js-toDoForm,
    .js-toDoList {
        width: 80%;
    }

    .privacy_info {
        font-size: 1.55rem;
    }

    .js-toDoForm input,
    .js-toDoList li span {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    footer address {
        font-size: 2rem;
    }

    .privacy_info {
        font-size: 1.3rem;
        margin: 0 10px;
    }

    .js-clock {
        font-size: 5rem;
        padding-bottom: 20px;
    }

    .js-toDoForm input {
        padding: 25px 0px 13px;
    }

    .x_btn {
        margin-bottom: 13px;
    }

    .bg_icons li:nth-child(3) {
        top: 60.734%;
    }

    .bg_icons li:nth-child(4) {
        top: 73.56%;
    }

    .form input,
    .showing,
    .js-weather {
        font-size: 1.8rem;
    }

    footer {
        padding-bottom: 0px;
        height: 40px;
    }
}

@media (max-width: 368px) {
    .darkMode_btn,
    .recycleBin_btn {
        width: 40px;
        height: 40px;
        bottom: 45px;
    }

    .form input,
    .showing,
    .js-weather {
        font-size: 1.6rem;
    }

    .js-toDoForm input,
    .js-toDoList li span {
        font-size: 1.5rem;
    }

    .del_btn {
        width: 20px;
        height: 27.43px;
    }

    .darkMode_btn {
        left: 10px;
    }

    .darkMode_btn > i {
        width: 17px;
        height: 30px;
    }

    .recycleBin_btn {
        right: 10px;
    }

    .recycleBin_btn > i {
        width: 20px;
        height: 28.43px;
    }
}


/* height */
@media (max-height: 1070px) {
    .js-toDoList {
        height: calc(50% - 38px);
    }
}

@media (max-height: 900px) {
    .js-toDoList {
        height: calc(40% - 38px);
    }
}

@media (max-height: 800px) {
    .js-toDoList {
        height: calc(30% - 38px);
    }
}

@media (max-height: 756px) {
    .js-toDoList {
        height: calc(40% - 38px);
    }
}

@media (max-height: 720px) {
    .js-toDoList {
        height: calc(30% - 38px);
    }
}