/* || media query */
@media (max-height: 1199px) {
    
}

@media (max-height: 1070px) {
    .js-toDoList {
        height: 25%;
    }
}

@media (max-height: 890px) {
    .js-toDoList {
        height: 20%;
    }
}

@media (max-width: 1024px) {
    header {
        display: none;
    }

    .js-clock {
        font-size: 9rem;
    }

    .showing,
    .js-weather {
        font-size: 3rem;
    }
}
